.card {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 500px;

}

.card-grid {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.txt_reg {
    display: inline-block;
}
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

  #blinking-text {
    font-size: 1.5rem;
    color: #ba3232 ;
    animation: blink 1s linear infinite;
    -webkit-text-stroke: 2px #f20707;
  }



.bg_f{
    width: 400px;
    height: 400px;
    padding: auto;
    margin: auto;
}
